{% extends 'base.html' %}

{% block head %} 


    <title>Dashboard</title>
{% endblock %}
    {% block body %} 

    
    <div class="nav-bar">
        <nav>
            <ul>
                <li>
                    <a href="/dashboard/profile">Profile</a>
                </li>
                <li>
                    <a href="/dashboard/test"> Check status</a>
                </li>
                <li class="currentL">
                    <a href="/dashboard/changePassword">Change Password </a>
                </li>
                <li>
                    <a href="/logout"> Log out</a>
                </li>
            </ul>
        </nav>
    </div>
<div class="change">
    <form action="/dashboard/changePassword" method="POST">
        <p>Input your current password</p>
        <input type="password" name="password">
        <p>Input your new password</p>
        <input type="password" name="npassword">
        <p>Confrim password</p>
        <input type="password" name="cpassword">
        <input type="submit" value="change">
    </form>
</div>
    {% endblock %}

</html>