{% extends 'base.html' %}

{% block head %} 


    <title>Dashboard</title>
{% endblock %}
    {% block body %} 

    
    <div class="nav-bar">
        <nav>
            <ul>
                <li>
                    <a href="/dashboard/profile">Profile</a>
                </li>
                <li>
                    <a href="/dashboard/test"> Check status</a>
                </li>
                <li>
                    <a href="/dashboard/changePassword">Change Password </a>
                </li>
                <li>
                    <a href="/logout"> Log out</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="center">
    <h1>Welcome to your dashboard!</h1>
</div>
    {% endblock %}

</html>