body{
    margin: 0;
    padding: 0;
    font-family:'Dyuthi';
font-size: 20px;
/* font-weight:bolder; */
width: 100%;

    /* background-color: rgb(223, 171, 103); */
}

.headers{
    /* width: 100%; */
    height: 70px;
    border-bottom: 2px solid rgb(237, 245, 244);
    background-color: white;
    padding: 10px;

}
.headers img{
    padding: 0%;
    margin: 0%;
    margin-top: -30px;
width: 100px;
position: absolute;
height: 100px;
}

.headers p{
color: rgb(18, 145, 204);
margin-left: 90px;
font-family:'Dyuthi';
font-size: 30px;
font-weight:bolder;
}
.headers h3{
    color: cornsilk;
    /* margin-left: 250px; */
    text-align: center;


}
.nav-bar{
    height: 700px;
    width: 250px;
    background-color: rgb(18, 145, 204) ;
    margin-top: -21px;
    padding: relative;
}
.nav-bar a{
 text-decoration: none;
 color: white;

}
.nav-bar ul{
    padding: 5%;
    /* list-style: none; */
   
   }
.nav-bar li{
    padding: 5%;
    list-style: none;
    /* background-color: white; */
}

.nav-bar a:hover {
border-bottom: 2px solid white;
}
.name img{
float: left;
width: 50px;
height: 60px;
border-radius: 30px;
margin-left: 1100px;
margin-top: -80px;
position: absolute;
}
.name p{
    position: absolute;
    margin-left: 1160px;
    margin-top: -70px;
    font-weight:normal;
    font-size: 18px;
    font-family:Verdana;

}



.currentL a{
    color: rgb(255, 188, 144);
    /* background-color: tomato; */
}

.center{
    margin-left: 300px;
    margin-top: -680px;

}

.change{
    margin-left: 300px;
    margin-top: -680px;
}
